<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Fornecedores</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>CEP</th>
            <th>Celular</th>
            <th>E-MAIL</th>
        </tr>

        <%fornecedores.forEach(fornecedor => { %>
            <tr>
                <td><%=fornecedor.nome%></td>
                <td><%=fornecedor.bairro%></td>
                <td><%=fornecedor.cidade%></td>
                <td><%=fornecedor.cep%></td>
                <td><%=fornecedor.celular%></td>
                <td><%=fornecedor.email%></td>
            </tr>
        <%})%>
    </table>
</body>
</html>